<div>
  <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <div>
      <div class="utilisateur">
        <mat-form-field hintLabel="Min 1 caractere">
          <mat-label>Nom d'utilisateur</mat-label>
          <input name="username" type="text" formControlName="username" matInput #input placeholder="Ex.: INF5190">
          <mat-hint align="end">{{input.value.length}}/10000</mat-hint>
        </mat-form-field>
      </div>
      <div class="motDePasse">
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input name="password" type="password" formControlName="password" matInput >
        </mat-form-field>
      </div>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary">Connexion</button></div>
  </form>
</div>
